<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elevator</title>
</head>
<body>
<div class="info" style="width: 50%">
    <p>Status: <b id="status"></b></p>
    <p>Current Floor: <b id="currentFloor"></b></p>
    <p>Queue: <b id="queue"></b></p>
</div>
<div class="elevator" style="width: 50%;">
    UP | WAIT | DOWN

        ___/|\___
        |       |
        |       |
        |       |
        |       |
        _________
</div>
</body>
</html>